{% extends 'base.html' %}
{% block title %}Blog{% endblock title %}
{% block body %}
        <div class="blog py-5">
            <div class="container">
                <div class="row  justify-content-between">
                    <div class="col-lg-7 col-12  mt-5">
                        <div class="card pb-3 shadow">
                            <div class="card-img"><img src="/static/imgs/blog3.jpg" width="100%" alt=""></div>
                            <div class="card-body">
                                <ul class="deatails list-unstyled d-flex flex-wrap gap-4 align-items-center">
                                    <li class="d-flex align-items-center gap-1 px-4 orange border-end border-1 border-dark border-opacity-50"><span class="icon"><i class="fas fa-user-alt"></i></span><div class="text">By Pizzer</div></li>
                                    <li class="d-flex align-items-center gap-1 px-4 orange border-end border-1 border-dark border-opacity-50"><span class="icon"><i class="fas fa-calendar-alt"></i></span><div class="text">21 June,2022</div></li>
                                    <li class="d-flex align-items-center gap-1 px-4 orange "><span class="icon"><i class="fas fa-1x fa-comments"></i></span><div class="text">Comments</div></li>
                                </ul>
                                <h5 class="mt-4 mb-3">10 Reasons to make sure that our food is Good</h5>
                                <p class="mb-4 text-black-50">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea officia corrupti inventore, dignissimos perferendis voluptatibus quibusdam consequatur sed reprehenderit explicabo porro ad harum fugiat. A perspiciatis distinctio odit dolorem error.</p>
                                <p class="mb-4 text-black-50">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea officia corrupti inventore, dignissimos perferendis voluptatibus quibusdam consequatur sed reprehenderit explicabo porro ad harum fugiat. A perspiciatis distinctio odit dolorem error.</p>
                                <button class="button py-2 px-3 rounded-5 fs-6">See More</button>
                            </div>
                        </div>
                        <div class="card mt-4 pb-3  shadow">
                            <div class="card-img"><img src="/static/imgs/blog4.jpg" width="100%" alt=""></div>
                            <div class="card-body">
                                <ul class="deatails flex-wrap list-unstyled d-flex flex-wrap gap-4 align-items-center">
                                    <li class="d-flex align-items-center gap-1 px-4 orange border-end border-1 border-dark border-opacity-50"><span class="icon"><i class="fas fa-user-alt"></i></span><div class="text">By Pizzer</div></li>
                                    <li class="d-flex align-items-center gap-1 px-4 orange border-end border-1 border-dark border-opacity-50"><span class="icon"><i class="fas fa-calendar-alt"></i></span><div class="text">21 June,2022</div></li>
                                    <li class="d-flex align-items-center gap-1 px-4 orange "><span class="icon"><i class="fas fa-1x fa-comments"></i></span><div class="text">Comments</div></li>
                                </ul>
                                <h5 class="mt-4 mb-3">10 Reasons to make sure that our food is Good</h5>
                                <p class="mb-4 text-black-50">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea officia corrupti inventore, dignissimos perferendis voluptatibus quibusdam consequatur sed reprehenderit explicabo porro ad harum fugiat. A perspiciatis distinctio odit dolorem error.</p>
                                <p class="mb-4 text-black-50">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea officia corrupti inventore, dignissimos perferendis voluptatibus quibusdam consequatur sed reprehenderit explicabo porro ad harum fugiat. A perspiciatis distinctio odit dolorem error.</p>
                                <button class="button py-2 px-3 rounded-5 fs-6">See More</button>
                            </div>
                        </div>
                        <div class="card mt-4 pb-3  shadow">
                            <div class="card-body">
                                <ul class="deatails flex-wrap list-unstyled d-flex flex-wrap gap-4 align-items-center">
                                    <li class="d-flex align-items-center gap-1 px-4 orange border-end border-1 border-dark border-opacity-50"><span class="icon"><i class="fas fa-user-alt"></i></span><div class="text">By Pizzer</div></li>
                                    <li class="d-flex align-items-center gap-1 px-4 orange border-end border-1 border-dark border-opacity-50"><span class="icon"><i class="fas fa-calendar-alt"></i></span><div class="text">21 June,2022</div></li>
                                    <li class="d-flex align-items-center gap-1 px-4 orange "><span class="icon"><i class="fas fa-1x fa-comments"></i></span><div class="text">Comments</div></li>
                                </ul>
                                <h5 class="mt-4 mb-3">10 Reasons to make sure that our food is Good</h5>
                                <p class="mb-4 text-black-50">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea officia corrupti inventore, dignissimos perferendis voluptatibus quibusdam consequatur sed reprehenderit explicabo porro ad harum fugiat. A perspiciatis distinctio odit dolorem error.</p>
                                <p class="mb-4 text-black-50">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea officia corrupti inventore, dignissimos perferendis voluptatibus quibusdam consequatur sed reprehenderit explicabo porro ad harum fugiat. A perspiciatis distinctio odit dolorem error.</p>
                                <button class="button py-2 px-3 rounded-5 fs-6">See More</button>
                            </div>
                        </div>
                        <div class="card mt-4 pb-3  shadow">
                            <div class="card-img"><img src="/static/imgs/blog1.jpg" width="100%" alt=""></div>
                            <div class="card-body">
                                <ul class="deatails flex-wrap list-unstyled d-flex gap-4 align-items-center">
                                    <li class="d-flex align-items-center gap-1 px-4 orange border-end border-1 border-dark border-opacity-50"><span class="icon"><i class="fas fa-user-alt"></i></span><div class="text">By Pizzer</div></li>
                                    <li class="d-flex align-items-center gap-1 px-4 orange border-end border-1 border-dark border-opacity-50"><span class="icon"><i class="fas fa-calendar-alt"></i></span><div class="text">21 June,2022</div></li>
                                    <li class="d-flex align-items-center gap-1 px-4 orange "><span class="icon"><i class="fas fa-1x fa-comments"></i></span><div class="text">Comments</div></li>
                                </ul>
                                <h5 class="mt-4 mb-3">10 Reasons to make sure that our food is Good</h5>
                                <p class="mb-4 text-black-50">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea officia corrupti inventore, dignissimos perferendis voluptatibus quibusdam consequatur sed reprehenderit explicabo porro ad harum fugiat. A perspiciatis distinctio odit dolorem error.</p>
                                <button class="button py-2 px-3 rounded-5 fs-6">See More</button>
                            </div>
                        </div>
                        <div class="card mt-4 pb-3 shadow">
                            <div class="card-img"><img src="/static/imgs/blog2.jpg" width="100%" alt=""></div>
                            <div class="card-body">
                                <ul class="deatails list-unstyled d-flex flex-wrap gap-4 align-items-center">
                                    <li class="d-flex align-items-center gap-1 px-4 orange border-end border-1 border-dark border-opacity-50"><span class="icon"><i class="fas fa-user-alt"></i></span><div class="text">By Pizzer</div></li>
                                    <li class="d-flex align-items-center gap-1 px-4 orange border-end border-1 border-dark border-opacity-50"><span class="icon"><i class="fas fa-calendar-alt"></i></span><div class="text">21 June,2022</div></li>
                                    <li class="d-flex align-items-center gap-1 px-4 orange "><span class="icon"><i class="fas fa-1x fa-comments"></i></span><div class="text">Comments</div></li>
                                </ul>
                                <h5 class="mt-4 mb-3">10 Reasons to make sure that our food is Good</h5>
                                <p class="mb-4 text-black-50">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea officia corrupti inventore, dignissimos perferendis voluptatibus quibusdam consequatur sed reprehenderit explicabo porro ad harum fugiat. A perspiciatis distinctio odit dolorem error.</p>
                                <button class="button py-2 px-3 rounded-5 fs-6">See More</button>
                            </div>
                        </div>
                        <ul class="list-unstyled d-flex gap-3 mt-4 justify-content-center" id="navigator">
                            <li class="d-inline-block p-2 fs-5 border border-dark border-opacity-25 border-1"><div>1</div></li>
                            <li class="d-inline-block p-2 fs-5 border border-dark border-opacity-25 border-1"><div>2</div></li>
                            <li class="d-inline-block p-2 fs-5 border border-dark border-opacity-25 border-1"><div>3</div></li>
                            <li class="d-inline-block p-2 fs-5 border border-dark border-opacity-25 border-1"><div>4</div></li>
                            <li class="d-inline-block p-2 fs-5 border border-dark border-opacity-25 border-1"><div>></div></li>
                        </ul>
                        <div class="card mt-5 py-3 shadow">
                            <h2 class="px-4 py-4"><i class="fas fa-comment" style="color: orangered;"></i> Comments(03)</h2>
                            <ul class="commnets list-unstyled mt-3 ">
                                <li class="d-flex gap-5 border-bottom border-1 py-1 pb-3 px-3">
                                    <div class="left">
                                        <img src="/static/imgs/commentspeople4.jpg" class="rounded-circle" alt="" style="width: 100px; height: 100px;object-fit: cover;">
                                    </div>
                                    <div class="rigth">
                                        <p class="d-flex align-items-center gap-2 mb-1 text-black-50"><i class="fas fa-calendar-alt"></i></span><span>21 June,2022</span></p>
                                        <h5>David Malan</h5>
                                        <p class="my-2 text-black-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, doloremque?</p>
                                        <h5 style="color: orangered;" >Replay</h5>
                                    </div>
                                </li>
                                <li class="d-flex gap-5 border-bottom border-1 py-1 px-3 pb-3 mt-4">
                                    <div class="left">
                                        <img src="/static/imgs/commentspeople6.jpg" class="rounded-circle" alt="" style="width: 100px; height: 100px;object-fit: cover;">
                                    </div>
                                    <div class="rigth">
                                        <p class="d-flex align-items-center gap-2 mb-1 text-black-50"><i class="fas fa-calendar-alt"></i></span><span>21 June,2022</span></p>
                                        <h5>David Malan</h5>
                                        <p class="my-2 text-black-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, doloremque?</p>
                                        <h5 style="color: orangered;" >Replay</h5>
                                    </div>
                                </li>
                                <li class="d-flex gap-5 py-1 px-3 mt-4">
                                    <div class="left">
                                        <img src="/static/imgs/commentspeople5.jpg" class="rounded-circle" alt="" style="width: 100px; height: 100px;object-fit: cover;">
                                    </div>
                                    <div class="rigth">
                                        <p class="d-flex align-items-center gap-2 mb-1 text-black-50"><i class="fas fa-calendar-alt"></i></span><span>21 June,2022</span></p>
                                        <h5>David Malan</h5>
                                        <p class="my-2 text-black-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, doloremque?</p>
                                        <h5 style="color: orangered;" >Replay</h5>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="card mt-4 shadow">
                            <h2 class="px-4 py-4"><i class="fas fa-comment" style="color: orangered;"></i> Leave a Comment</h2>
                            <p class="text-black-50 px-3 mb-3">Your email address will not be published. Required fields are markded*</p>
                            <div class="form px-3 pb-5">
                                <div class="d-flex flex-wrap justify-content-between">
                                    <input class="p-2 mb-4" type="text" placeholder="Your Name*">
                                    <input class="p-2 mb-4" type="text" placeholder="Your Email*">
                                </div>
                                <textarea class="p-2 mb-4 w-100" placeholder="Write a Comment*"></textarea>
                                <button class="button py-2 px-3 rounded-5 fs-6">POST COMMENT</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12 px-md-0 px-3 mt-5">
                        <div class="card  w-100 p-3 shadow">
                            <div class="roww d-flex h-100">
                                <input type="text" class="w-75 p-3 h-100" placeholder="Search">
                                <button class="w-25 d-block button rounded-0 p-0"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                        <div class="card  w-100 pb-5 pt-4 px-3 text-center mt-4 shadow">
                            <img src="/static/imgs/chef22.jpg" class="rounded-circle" style="width: 150px; height: 150px; object-fit: cover;margin: 0 auto;" alt="">
                            <h3 class="my-3">Sabel Adam</h3>
                            <p class="my-2 text-black-50">Follow Me</p>
                            <ul class="socail-media list-unstyled d-flex justify-content-center gap-3">
                                <li><a class="text-decoration-none" href=""><i class=" rounded-circle fab fa-facebook-f"></i></a></li>
                                <li><a class="text-decoration-none" href=""><i class=" rounded-circle fab fa-twitter"></i></a></li>
                                <li><a class="text-decoration-none" href=""><i class=" rounded-circle fab fa-instagram"></i></a></li>
                                <li><a class="text-decoration-none" href=""><i class=" rounded-circle fab fa-linkedin-in"></i></a></li>
                                <li><a class="text-decoration-none" href=""><i class=" rounded-circle fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                        <div class="card  w-100 pb-5 pt-4 px-3 shadow mt-4">
                            <h4 class="px-4">Categories</h4>
                            <ul class="list-unstyled mt-4" id="Categories">
                                <li class="d-flex   border border-1 border-dark border-opacity-25"><span class="w-75 text-start fw-bold p-3 one"><p class="mb-0">Restaurant</p></span><span class="w-25 text-center fw-bold  h-100 p-3 text-white tow">15</span></li>
                                <li class="d-flex   border border-1 border-dark border-opacity-25 my-3"><span class="w-75 text-start fw-bold p-3 one"><p class="mb-0">Restaurant</p></span><span class="w-25 text-center fw-bold  h-100 p-3 text-white tow">15</span></li>
                                <li class="d-flex   border border-1 border-dark border-opacity-25 my-3"><span class="w-75 text-start fw-bold p-3 one"><p class="mb-0">Restaurant</p></span><span class="w-25 text-center fw-bold  h-100 p-3 text-white tow">15</span></li>
                                <li class="d-flex   border border-1 border-dark border-opacity-25"><span class="w-75 text-start fw-bold p-3 one "><p class="mb-0">Restaurant</p></span><span class="w-25 text-center fw-bold  h-100 p-3 text-white tow">15</span></li>
                            </ul>
                        </div>
                        <div class="card  w-100 pb-5 pt-4 px-3 shadow mt-4">
                            <h4 class="px-4">Latest Posts</h4>
                            <div class="img-gradiant position-relative">
                                <div class="layer"></div>
                                <img id="img-gradiant-img"  src="/static/imgs/brackfast6.jpg" class="mt-4" alt="">
                            </div>

                            <div class="roww d-flex justify-content-between align-items-center mt-3">
                                <img src="/static/imgs/dessert5.jpg" style="width: 100px; height: 100px;" alt="">
                                <div class="text">
                                    <h5>Excellen based networs</h5>
                                    <p class="text-black-50">21 June,2022</p>
                                </div>
                            </div>
                            <div class="roww d-flex justify-content-between align-items-center mt-3">
                                <img src="/static/imgs/dessert4.jpg" style="width: 100px; height: 100px;" alt="">
                                <div class="text">
                                    <h5>Excellen based networs</h5>
                                    <p class="text-black-50">21 June,2022</p>
                                </div>
                            </div>
                            <div class="roww d-flex justify-content-between align-items-center mt-3">
                                <img src="/static/imgs/dessert2.jpg" style="width: 100px; height: 100px;" alt="">
                                <div class="text">
                                    <h5>Excellen based networs</h5>
                                    <p class="text-black-50">21 June,2022</p>
                                </div>
                            </div>
                        </div>
                        <div class="card  w-100 pb-5 pt-4 px-3 shadow mt-4">
                            <h4 class="px-4">Our Gellary</h4>
                            <div class="gallary d-flex flex-wrap justify-content-center gap-3 mt-4">
                                <img src="/static/imgs/dessert6.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                                <img src="/static/imgs/pizza4.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                                <img src="/static/imgs/test2.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                                <img src="/static/imgs/sandwish4.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                                <img src="/static/imgs/lunch3.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                                <img src="/static/imgs/dinner1.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                                <img src="/static/imgs/sandwish6.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                                <img src="/static/imgs/blog4.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                                <img src="/static/imgs/dessert5.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            </div>
                        </div>
                        <div class="card  w-100 pb-5 pt-4 px-3 shadow mt-4">
                            <h4 class="px-4">Popular Tags</h4>
                            <div class="tags d-flex flex-wrap justify-content-center gap-3 mt-4">
                                <div class="tag p-2 border border-dark border-opacity-50 border-1 rounded-2" style="width: fit-content;">Food</div>
                                <div class="tag p-2 border border-dark border-opacity-50 border-1 rounded-2" style="width: fit-content;">Menu</div>
                                <div class="tag p-2 border border-dark border-opacity-50 border-1 rounded-2" style="width: fit-content;">Rice</div>
                                <div class="tag p-2 border border-dark border-opacity-50 border-1 rounded-2" style="width: fit-content;">Party</div>
                                <div class="tag p-2 border border-dark border-opacity-50 border-1 rounded-2" style="width: fit-content;">Fast Food</div>
                                <div class="tag p-2 border border-dark border-opacity-50 border-1 rounded-2" style="width: fit-content;">Vegetables</div>
                                <div class="tag p-2 border border-dark border-opacity-50 border-1 rounded-2" style="width: fit-content;">Restaurant</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
        {% endblock body %}