{% extends 'base.html' %}
{% block title %}Chefs{% endblock title %}
{% load static %}
{% block body %}
    <button class="GoTop position-fixed bg-transparent border-0">
        <div class="borderRotate rounded-circle"></div>
        <i class="arrow position-absolute text-white rounded-circle fas fa-arrow-up"></i>
    </button>
        <div class="chef-detail">
            <div class="container">
                <div class="roww d-flex flex-wrap justify-content-center">
                    <div class="chef-img">
                        <img src="/static/imgs/chef44.jpg" alt="">
                    </div>
                    <div class="chef-details w-100  align-self-end">
                        <div class="big-card position-relative p-4 bg-white">
                            <h1 class="name">Kareem Safar</h1>
                            <p class="text-black-50 my-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab magni sint suscipit dignissimos perferendis! Quam iure ea esse commodi molestias voluptatum dolores, optio repellendus omnis assumenda veritatis, ratione rerum eligendi!</p>
                            <ul class="p-0 w-100 mb-4">
                                <li class="d-flex justify-content-between"><strong>Experience:</strong><p class="w-50 text-black-50"> 5 Years</p></li>
                                <li class="d-flex justify-content-between"><strong>Email:</strong><p class="w-50 text-black-50"> Kareem@gmail.com</p></li>
                                <li class="d-flex justify-content-between"><strong>Phone:</strong><p class="w-50 text-black-50"> +963 9334222</p></li>
                            </ul>
                            <ul class="socail-media list-unstyled d-flex gap-3">
                                <li><a class="text-decoration-none" href=""><i class=" d-flex justify-content-center align-items-center text-white rounded-circle fab fa-facebook-f"></i></a></li>
                                <li><a class="text-decoration-none" href=""><i class=" d-flex justify-content-center align-items-center text-white rounded-circle fab fa-twitter"></i></a></li>
                                <li><a class="text-decoration-none" href=""><i class=" d-flex justify-content-center align-items-center text-white rounded-circle fab fa-instagram"></i></a></li>
                                <li><a class="text-decoration-none" href=""><i class=" d-flex justify-content-center align-items-center text-white rounded-circle fab fa-linkedin-in"></i></a></li>
                                <li><a class="text-decoration-none" href=""><i class=" d-flex justify-content-center align-items-center text-white rounded-circle fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                        <div class="genral-details w-100">
                            <ul class="list-unstyled px-5 py-1">
                                <li class="mb-4"><p class="fw-bold mb-3">Behavior</p><div class="rating w-100"><hr class="w-75 m-0 border-0"><div></li>
                                <li class="mb-4"><p class="fw-bold mb-3">Passionate</p><div class="rating w-100"><hr class="w-100 m-0 border-0"></div></li>
                                <li class="mb-4"><p class="fw-bold mb-3">Motive</p><div class="rating w-100"><hr class="w-50 m-0 border-0"></div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
        <div class="all-chefs py-5">
            <div class="container">   
                <div class="intro-text text-center">
                    <h3 class="intro-secTitle m-0 text-center">our Team</h3>
                    <h1 class=" mb-1 text-center text-black display-5 fw-light">
                        Meet our chefs
                    </h1>
                    <div class="horizontalLine w-100 text-center d-inline-block mb-5"></div>
                </div>   
                <div class="row gap-5  justify-content-center mb-5">
                    <div class="chef p-0 d-flex flex-column">
                        <div class="chef-img w-100 chef1 h-75"></div>
                        <div class="chef-detail2 w-100 h-25 bg-white d-flex flex-column justify-content-center align-items-center">
                            <div class="name fs-4 orange">Petter wilson</div>
                            <div class="work">CEO</div>
                        </div>
                    </div>
                    <div class="chef p-0 d-flex flex-column">
                        <div class="chef-img w-100 chef2 h-75"></div>
                        <div class="chef-detail2 w-100 h-25 bg-white d-flex flex-column justify-content-center align-items-center">
                            <div class="name fs-4 orange">Mick jezzy</div>
                            <div class="work">Worker</div>
                        </div>
                    </div>
                    <div class="chef p-0 d-flex flex-column">
                        <div class="chef-img w-100 chef3 h-75"></div>
                        <div class="chef-detail2 w-100 h-25 bg-white d-flex flex-column justify-content-center align-items-center">
                            <div class="name fs-4 orange">Aaron boll</div>
                            <div class="work">Founder</div>
                        </div>
                    </div>
                    <div class="chef p-0 d-flex flex-column">
                        <div class="chef-img w-100 chef4 h-75"></div>
                        <div class="chef-detail2 w-100 h-25 bg-white d-flex flex-column justify-content-center align-items-center">
                            <div class="name fs4 orange">Necklios fallon</div>
                            <div class="work">Worker</div>
                        </div>
                    </div>
                    <div class="chef p-0 d-flex flex-column">
                        <div class="chef-img w-100 chef5 h-75"></div>
                        <div class="chef-detail2 w-100 h-25 bg-white d-flex flex-column justify-content-center align-items-center">
                            <div class="name fs-4 orange">Drake mon</div>
                            <div class="work">Worker</div>
                        </div>
                    </div>
                    <div class="chef p-0 d-flex flex-column">
                        <div class="chef-img w-100 chef6 h-75"></div>
                        <div class="chef-detail2 w-100 h-25 bg-white d-flex flex-column justify-content-center align-items-center">
                            <div class="name fs-4 orange">Josh mistole</div>
                            <div class="work">Worker</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
{% endblock body %}
