<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <footer class="pb-3 px-4">
            <div class="container text-white">
                <img src="/static/imgs/logo2.png" class="logo" alt="">
                <div class="row justify-content-center">
                    <div class="aboutUs col-12 col-lg-4 ">
                        <p class="intro-secTitle">About Us</p>
                        <p class="text-white-50 my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate eius nihil illo sapiente deserunt quaerat!</p>
                        <ul class="socail-media list-unstyled d-flex gap-3">
                            <li><a class="text-decoration-none" href=""><i class="border  border-1 rounded-circle fab fa-facebook-f"></i></a></li>
                            <li><a class="text-decoration-none" href=""><i class="border  border-1 rounded-circle fab fa-twitter"></i></a></li>
                            <li><a class="text-decoration-none" href=""><i class="border  border-1 rounded-circle fab fa-instagram"></i></a></li>
                            <li><a class="text-decoration-none" href=""><i class="border  border-1 rounded-circle fab fa-linkedin-in"></i></a></li>
                            <li><a class="text-decoration-none" href=""><i class="border  border-1 rounded-circle fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
        
                    <div class="openningHours col-12 col-lg-4">
                        <p class="intro-secTitle">Hours</p>
                        <div class="d-block d-sm-flex gap-sm-4 d-lg-block gap-5">
                            <p class="text-white"><span class="orange fw-bold">Mon - Thus:</span> 9Am - 5Pm</p>
                            <p class="text-white"><span class="orange fw-bold">Wen - Thu:</span> 9Am - 5Pm</p>
                            <p class="text-white"><span class="orange fw-bold">Fri - Sat:</span> 10Am - 4Pm</p>
                            <p class="text-white"><span class="orange fw-bold">Sun:</span> 10Am - 6Pm</p>
                        </div>
                    </div>
        
                    <div class="lastUpdates col-12 col-lg-4">
                        <p class="intro-secTitle">Lastest Posts</p>
                        <div class="row gap-1 mb-3">
                            <div class="col-3 postImg postImg1"></div>
                            <div class="col-8">
                                <p>Assertively viusalize best-of-breed customers.</p>
                                <p class="text-white-50"><i class="fas fa-calendar-alt"></i> 05 June, 2022</p>
                            </div>
                        </div>
                        <div class="row gap-2">
                            <div class="col-3 postImg postImg2"></div>
                            <div class="col-8">
                                <p>Assertively viusalize best-of-breed customers.</p>
                                <p class="text-white-50"><i class="fas fa-calendar-alt"></i> 05 June, 2022</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        <script src="" async defer></script>
    </body>
</html>